<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title> {% block title %} {% endblock %}</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark text-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home.home')}}">Camera</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> 
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="{{ url_for('home.home')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('picture.pictures')}}">Take photo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('galeriecv.galeriecv')}}">GalerieCV</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div>
    {% block content %}{% endblock %}
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a href="{{ url_for('home.home')}}" class="nav-link px-2 text-muted">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('picture.pictures')}}" class="nav-link px-2 text-muted">Picture</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('galeriecv.galeriecv')}}" class="nav-link px-2 text-muted">GalerieCV</a>
                </li>
            </ul>
        </footer>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</html>