{% extends "layout.html" %}
{% block title %}GalerieCV{% endblock %}

{% block content%}
        <div class="row text-center text-lg-start">
                {% for i in image %}
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="{{ url_for('static', filename=i)}}" class="d-block mb-4 h-100 text-dark" style="text-decoration:none ">
                        <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename=i)}}" alt="">
                        </a>
                    </div>
                {% endfor %}
        </div>   
        {% if imgperson %}
        <div class="row text-center text-lg-start">
           <center> <h1>Image Person</h1></center>
            {% for i in imgperson %}
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="{{i}}" class="d-block mb-4 h-100 text-dark" style="text-decoration:none ">
                    <img class="img-fluid img-thumbnail" src="{{i}}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div> 
        {% endif %}   

{% endblock %}